<h1>Add friend</h1>
<% for user in @user  %>
<div class="user">
  <p>
    <strong><%=link_to image_for(user,size:45) +  user.username, user_path(user.id)%></strong>
    <%= link_to "Add friend", friendships_path(:friend_id => user), :method => :post %>
  </p>
  <%end%>
</div>