<div id="posts">
<%= render 'posts/post', :@posts => @posts  %>
</div>
<% if @posts.count >= 10 %>
<div class="page" id="page" style="text-align: center;">
<%= link_to_next_page @posts, 'LOAD MORE', remote: true, id:'load' %>
  </div>
<% end %>