// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.trumbnail {
  height: 400px;
}
#container1{width:100%;}
#center{text-align:center;}


.row{
  margin-left: 0px;
  margin-right: 0px;
}
@media only screen and (min-width: 600px) {
  .row1 {
    margin-left: 200px;
  }
  .title{
    margin-left: 210px;
  }
}